fieldset{
    width: 50%;
    background-color: gainsboro;
    border-collapse: separate;
    text-align: left;
}
body{
    text-align: center;
    display: flex;
    justify-content: center;
    background-size : 100%;
}
select{
    width: 50%;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
}
label{
    color: mediumblue;
    font-style: italic;
    font-weight: bold;
}